name: backend test

on:
  push:
    paths:
      - "*.py"
      - "**/*.py"
  pull_request:
    paths:
      - "*.py"
      - "**/*.py"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v7
        with:
          activate-environment: true
          python-version: 3.13

      - name: Install deps
        run: uv sync

      - name: Format code
        run: ruff format

      - name: Lint and fix code
        run: ruff check --fix

      - name: Test code
        run: pytest .